<div class="body-select d-flex justify-content-center">
  <div class="row box-select p-4">
    <div class="col-12 mt-3 d-flex align-items-start justify-content-center">
      <svg cIcon name="cilUser" size="sm" width="25" title="Icon"></svg>
      <p style="padding-left: 8px;" class="title">Face ID - Auto Chamada</p>
    </div>
    <div class="col-12 text-center pt-4">
      <p class="subtitle">Escolha a classe:</p>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <select style="max-width: 300px;" class="form-select" aria-label="Default select example">
        <option value="1">CC8P39</option>
        <option value="2">DI8P28</option>
        <option value="3">ED7Q34</option>
      </select>
    </div>
    <div class="col-12 text-center pt-4">
      <button type="button" class="btn btn-secondary btn-lg">Selecionar</button>
    </div>
  </div>
</div>  